@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

:root {
    --Primary-Pink: hsl(322, 100%, 66%);
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);

    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--Very-Dark-Cyan);
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* Header Section */
header {
    width: 90vw;
    margin: 2.5em auto;
    position: absolute;
    left: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 15%;
}

header button {
    width: 15%;
    height: 50px;
    color: var(--Very-Dark-Cyan);
    background-color: white;
    border: none;
    border-radius: 25px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2);
    font-size: .8rem;
    font-weight: 700;
}

header button:focus {
    outline: none;
}

header button:hover {
    background-color: var(--Very-Dark-Cyan);
    color: white;
    cursor: pointer;
}

header button:active {
    box-shadow: none;
}

/* Hero Section */
#hero {
    width: 100%;
    height: 80vh;
    background-image: url(./images/bg-hero-desktop.svg);
    background-color: var(--Very-Pale-Cyan);
}

#hero .container {
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hero .container div {
    width: 40%;
}

#hero h1 {
    font-size: 2.4em;
    margin: 2em 0 .8em;
}

#hero p {
    color: var(--Very-Dark-Cyan);
}

#hero button {
    width: 55%;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: var(--Primary-Pink);
    box-shadow: 0 5px 10px 0 hsla(322, 100%, 66%, 0.3);
    color: white;
    font-size: .8rem;
    margin-top: 2.4em;
}

#hero button:focus {
    outline: none;
}

#hero button:hover {
    background-color: var(--Very-Pale-Cyan);
    color: var(--Primary-Pink);
    border: 3px solid var(--Primary-Pink);
    cursor: pointer;
}

#hero button:active {
    box-shadow: none;
    opacity: 1;
}

#hero img {
    width: 52%;
    margin-top: 6em;
}

/* Cards Section */
#cards {
    width: 85%;
    margin: 9em auto 15em;
    position: relative;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .08);
    padding: 4em 6em;
    margin-bottom: 2em;
}

.card p {
    width: 90%;
    color: var(--Grayish-Blue);
    margin-top: 1em;
}

.card img {
    width: 40%;
}

.card:nth-child(2) {
    flex-direction: row-reverse;
}

.card:nth-child(2) > div {
    padding-left: 4em;
}

.card:nth-child(2) > div p {
    width: 100%;
}

.CTA {
    width: 70%;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .08);
    position: absolute;
    left: 15%;
    bottom: -28%;
    padding: 1em;
}

.CTA h2 {
    font-size: 1.6em;
    margin-top: 2em;
}

.CTA button {
    width: 50%;
    height: 80px;
    border: none;
    border-radius: 40px;
    background-color: var(--Primary-Pink);
    box-shadow: 0 5px 10px 0 hsla(322, 100%, 66%, 0.3);
    color: white;
    font-size: 1.1rem;
    margin: 2em;
}

.CTA button:focus {
    outline: none;
}

.CTA button:hover {
    cursor: pointer;
}

.CTA button:active {
    box-shadow: none;
    opacity: 1;
}

/* Contact Section */
footer {
    background-color: var(--Very-Dark-Cyan);
    color: white;
    padding-top: 10rem;
}

#contact {
    width: 80%;
    margin: 1em auto 0;
    color: var(--Very-Pale-Cyan);
}

#contact #logo {
    width: 20%;
    margin-bottom: 2em;
}

#contact div {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-gap: 5em;
    justify-content: space-between;
    padding-bottom: 2em;
}

#contact li {
    list-style: none;
    padding: .6em 0;
    font-size: 1rem;
}

#info li {
    display: flex;
    align-items: flex-start;
    font-size: .9em;
}

#info li div {
    width: 20px;
    margin-right: 1.5em;
    padding-bottom: 0;
}

#info li div img {
    padding: .3em;
}

#social {
    display: flex;
}

#social li i{
    width: 35px;
    height: 35px;
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
    line-height: 35px;
    margin-right: 1em;
}

#contact p {
    font-size: 12px;
    text-align: right;
    padding: 2em;
}

/* Footer Section */
.attribution { 
    font-size: 12px; 
    text-align: center; 
    padding: 2em;
    background: #000;
}

.attribution a { 
    color: hsl(228, 47%, 75%); 
    text-decoration: none;
    font-weight: 600;
}

@media screen and (max-width: 800px) {
    /* Header Section */
    header {
        width: 90vw;
        margin: 2em auto;
        left: 5vw;
    }

    header img {
        width: 35%;
    }

    header button {
        width: 35%;
        height: 30px;
        border-radius: 15px;
        font-size: .7rem;
    }

    /* Hero Section */
    #hero {
        height: 100vh;
        background-image: url(./images/bg-hero-mobile.svg);
    }

    #hero .container {
        height: 100vh;
        flex-direction: column;
    }

    #hero .container div {
        width: 90%;
        text-align: center;
    }

    #hero h1 {
        font-size: 1.4em;
        margin: 6em 0 .8em;
    }

    #hero button {
        width: 80%;
        height: 40px;
        border-radius: 20px;
    }

    #hero img {
        width: 100%;
        margin-top: 0;
        margin-bottom: 3em;
    }

    /* Cards Section */
    #cards {
        width: 90%;
        margin: 3em auto 10em;
    }

    .card {
        justify-content: flex-start;
        padding: 2em;
        flex-direction: column-reverse;
        text-align: center;
    }

    .card h2 {
        font-size: 1.2rem;
    }

    .card p {
        width: 100%;
        font-size: .8rem;
        line-height: 1.6em;
    }

    .card img {
        width: 100%;
        margin-bottom: 2em;
    }

    .card:nth-child(2) {
        flex-direction: column-reverse;
    }

    .card:nth-child(2) > div {
        padding-left: 0;
    }

    .CTA {
        width: 100%;
        left: 0;
        bottom: -18%;
    }

    .CTA h2 {
        font-size: 1em;
    }

    .CTA button {
        width: 80%;
        height: 40px;
        border-radius: 20px;
        font-size: .7rem;
        margin: 2em;
    }

    /* Contact Section */
    footer {
        padding-top: 8rem;
    }

    #contact {
        width: 90%;
    }

    #contact #logo {
        width: 50%;
        margin-bottom: 2em;
    }

    #contact div {
        grid-template-columns: 1fr;
        grid-gap: 1em;
        padding-bottom: 0;
    }

    #social {
        display: flex;
        justify-content: center;
    }

    #social li i{
        margin: 0 1.2em;
    }

    #contact p {
        text-align: center;
    }
}